html, body {
    background-color: #101010;
    color: #e0e0e0;
    height: 100%;
    margin: 0;
    font-family: 'Arial', 'sans-serif';
}

.navbar {
    background-color: #1b1b1b;
}

.navbar-item, .navbar-link {
    color: #ffffff;
}

.navbar-dropdown .navbar-item:hover,
a.navbar-item:hover {
    background-color: #333333 !important;
    color: #ffffff !important;
}

.navbar-dropdown .navbar-item:focus, 
.navbar-dropdown .navbar-item:active {
    background-color: #333333 !important;
    color: #ffffff !important;
}

.navbar-dropdown {
    padding: 0;
    background-color: #1b1b1b;
    border: 1px solid #444;
    min-width: 200px;
    max-height: 500px;
    overflow-y: auto;
}

.navbar-item {
    padding: 10px 15px;
    color: #ffffff;
    white-space: nowrap;
}

.navbar-item:hover {
    background-color: #333333 !important;
    color: #ffffff !important;
}

.navbar-link {
    color: #ffffff;
}

.navbar-link:hover {
    background-color: #333333;
}

.navbar-dropdown.is-hoverable:hover .navbar-dropdown {
    display: block;
}

.navbar-item.has-dropdown.is-hoverable .navbar-link {
    color: #ffffff;
}

.navbar-item.has-dropdown.is-hoverable:hover .navbar-link {
    background-color: #333333;
}

.popup-link {
    color: #ffffff;
    text-decoration: none;
}

.popup-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.notification {
    background-color: #20c997;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
}

.notification .has-text-success {
    color: #000000 !important;
}

.notification .has-text-danger {
    color: #ff3860 !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

.title, .subtitle, .label {
    color: #ffffff;
}

.container {
    margin-top: 50px;
    padding: 20px;
}

.box, .hero, .button {
    background-color: #1f1f1f;
    color: #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.bot-box{
    width: 550px;
    background-color: #1F1F1F;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.bot-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.button.is-light.is-outlined {
    border-color: #e0e0e0;
}

.button.is-danger {
    background-color: #ff3860;
    border-color: #ff3860;
}

.button.is-success {
    background-color: #23d160;
    border-color: #23d160;
}

.button.is-warning {
    background-color: #ffdd57;
    border-color: #ffdd57;
}

.has-text-success {
    color: #00d1b2 !important;
}

.has-text-danger {
    color: #ff3860 !important;
}

.buttons .button {
    margin-right: 10px;
}

.button.is-primary, .button.is-success, .button.is-danger, .button.is-warning {
    color: #000000;
    font-weight: bold;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #444;
}

header h1 {
    margin: 0;
}

footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: #1f1f1f;
    border-top: 1px solid #444;
}

.round-image {
    border-radius: 50%;
}

.centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
    color: #e0e0e0;
    border-radius: 8px;
    margin-bottom: 20px;
}

.message {
    background-color: #1f1f1f;
    color: #ffffff;
}

.upload-container {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

.drag-area {
    border: 2px dashed #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drag-area.dragging {
    background-color: #333;
    border-color: #4caf50;
    color: #4caf50;
}

input[type="file"] {
    display: none;
    margin: 20px 0;
    padding: 10px;
}

input[type="submit"] {
    background-color: #514c4c;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;;
}

.progress-bar-container {
    width: 100%;
    max-width: 500px;
    background-color: #f3f3f3;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-bar {
    height: 20px;
    background-color: #4caf50;
    text-align: center;
    line-height: 20px;
    color: white;
}

.delete-single, #deleteForm input[type="submit"] {
    padding: 5px 10px;
    font-size: 14px;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.beating {
    animation: heartbeat 1s infinite;
}

/* Dark mode table styles */
.table {
    width: 100%;
    background-color: #1f1f1f;
    color: #e0e0e0;
    border-collapse: collapse;
}

.table thead th {
    background-color: #1f1f1f;
    color: #e0e0e0;
    border: 1px solid #444444;
}

.table tbody tr {
    background-color: #1f1f1f;
    color: #e0e0e0;
    border: 1px solid #444444;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
    background-color: #1f1f1f;
}

.table tbody tr:nth-child(even) {
    background-color: #1f1f1f;
}

.table tbody tr:hover {
    background-color: #1f1f1f;
}

.table td, .table th {
    padding: 10px;
    border: 1px solid #444444;
}

.table .edit-box {
    background-color: #1f1f1f;
    color: #e0e0e0;
}

.button.is-info {
    background-color: #209cee;
    border-color: #209cee;
    color: #fff;
}

.button.is-info:hover {
    background-color: #3273dc;
    border-color: #3273dc;
}

.log-content {
    display: none;
}

.log-content.is-active {
    display: block;
}

.logs-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 800px;
}

.logs-sidebar {
    width: 300px;
    padding-right: 20px;
}

.logs-log-area {
    flex-grow: 1;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.logs-log-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.logs-log-content textarea {
    width: 100%;
    flex-grow: 1;
    resize: none;
    background-color: #1e1e1e;
    color: #c0c0c0;
    border: none;
    padding: 10px;
    font-family: monospace;
}

.logs-title {
    color: #485fc7;
    text-align: center;
    font-size: 34px;
}

.logs-options {
    margin-bottom: 20px;
}

.logs-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    color: #c0c0c0;
    border: none;
}

.buttons-container {
    display: none;
}

.tabs a {
    color: #ffffff;
}

.toggle-checkbox {
    display: none;
}

.tab-content {
    display: none;
}

.tab-content.is-active {
    display: block;
}