html, body {
    background-color: #101010;
    color: #e0e0e0;
    height: 100%;
    margin: 0;
    font-family: 'Arial', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

.title, .subtitle, .label {
    color: #ffffff;
}

.container {
    margin-top: 50px;
    padding: 20px;
}

.box, .hero, .button {
    background-color: #1f1f1f;
    color: #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.button.is-light.is-outlined {
    border-color: #e0e0e0;
}

.button.is-danger {
    background-color: #ff3860;
    border-color: #ff3860;
}

.button.is-success {
    background-color: #23d160;
    border-color: #23d160;
}

.button.is-warning {
    background-color: #ffdd57;
    border-color: #ffdd57;
}

.has-text-success {
    color: #00d1b2 !important;
}

.has-text-danger {
    color: #ff3860 !important;
}

.buttons .button {
    margin-right: 10px;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #444;
}

header h1 {
    margin: 0;
}

footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: #1f1f1f;
    border-top: 1px solid #444;
}

.round-image {
    border-radius: 50%;
}

.centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
    color: #e0e0e0;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Dark mode table styles */
.table {
    width: 100%;
    background-color: #1f1f1f;
    color: #e0e0e0;
    border-collapse: collapse;
}

.table thead th {
    background-color: #1f1f1f;
    color: #e0e0e0;
    border: 1px solid #444444;
}

.table tbody tr {
    background-color: #1f1f1f;
    color: #e0e0e0;
    border: 1px solid #444444;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
    background-color: #1f1f1f;
}

.table tbody tr:nth-child(even) {
    background-color: #1f1f1f;
}

.table tbody tr:hover {
    background-color: #1f1f1f;
}

.table td, .table th {
    padding: 10px;
    border: 1px solid #444444;
}

.table .edit-box {
    background-color: #1f1f1f;
    color: #e0e0e0;
}

.button.is-info {
    background-color: #209cee;
    border-color: #209cee;
    color: #fff;
}

.button.is-info:hover {
    background-color: #3273dc;
    border-color: #3273dc;
}

.log-content {
    display: none;
}

.log-content.is-active {
    display: block;
}

.tabs a {
  color: #ffffff;
}