# Environment files
bot/.env
app/.env
api/.env
websocket/.env
stream/.env
stream/.env.backup
ssl/.env
ssl/.certbot.env

# Build and distribution directories
app/dist/
app/build/
app/CodeSignTool/

# Compiled and temporary files
app/BotOfTheSpecter.spec
app/build.bat
app/data.txt
app/BotOfTheSpecter.ui
bot/working.py
bot/test.py
bot/test_websocket.py
bot/phpmyadmin.txt
bot/all_events.py
bot/heartrate_test.py

# Log files
api/log.txt
stream/stream_server.log
websocket/noti_server.log
logs/*
dashboard/logs/*
bot/logs/*

# Cache files
dashboard/moderator/cache/*.json
dashboard/cache/*/*.json
/cache

# SSL Certificates and configurations
ssl/*.pem
ssl/sites-available/
api/ssl/*
websocket/ssl/*

# Database files and executables
bot/commands/*.db
bot/sql/*
api/app/*.exe

# Specific API files
api/authusers.json
websocket/service-account-file.json
api/service-account-file.json
websocket/ips.txt
api/shazam.txt
api/exchangerate.txt
api/steamapplist.json
api/tts_voices.json
api/weather.txt
api/version_control.txt

# Media files
tts/*.mp3
walkons/*
soundalerts/*/*

# Miscellaneous files
*Thumbs.db
*.DS_Store
stream/stream.service
bot/databse.txt
bot/ytdl-cookies.txt

# Ignoring the next update changelog file
docs/5.4.md

# Ignoring entire directories
/app
/api/app
/api/api
/specterbotapp/*/
/videoalerts
/websocket/music-settings/
/websocket/tts
/billing
/cdn/music
/stream/ssl
/newdashboard

# Python Cache files
bot/__pycache__/
app/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
