# Environment files
bot/.env
app/.env
api/.env
websocket/.env

# Build and distribution directories
app/dist/
app/build/
app/__pycache__/
app/CodeSignTool/

# Compiled and temporary files
app/BotOfTheSpecter.spec
app/build.bat
app/data.txt
app/BotOfTheSpecter.ui
bot/working.py
bot/test.py
bot/test_websocket.py
bot/phpmyadmin.txt

# Log files & cache
logs/*
dashboard/logs/*
dashboard/cache/*

# SSL Certificates and configurations
ssl/*.pem
ssl/sites-available/

# Database files
bot/commands/*.db
bot/sql/*
api/app/*.exe

# Specific API files
api/authusers.json
websocket/service-account-file.json
api/service-account-file.json
websocket/ips.txt
api/shazam.txt
api/exchangerate.txt

# Media files
tts/*
walkons/*
soundalerts/*/*.mp3

# Miscellaneous files
*Thumbs.db
*.DS_Store

# Ignoring the next update changelog file
bot/changelog/5.2.md

# Ignoring entire directories
/app
/api/app
/api/api
