body {
    background-color: #121212;
    color: #ffffff;
}

.navbar, .footer {
    background-color: #1b1b1b;
}

.navbar-item, .navbar-link {
    color: #ffffff;
}

.box {
    background-color: #1f1f1f;
    color: #ffffff;
    margin-bottom: 20px;
}

a.has-text-info {
    color: #4e8ed9;
}

a.navbar-item:hover {
    background-color: #333333;
}

.navbar-dropdown {
    background-color: #1b1b1b;
    border-radius: 4px;
}

.navbar-dropdown .navbar-item {
    color: #ffffff;
}

.navbar-dropdown .navbar-item:hover {
    background-color: #333333;
    color: #ffffff;
}

.navbar-dropdown .navbar-item:focus, .navbar-dropdown .navbar-item:active {
    background-color: #333333;
    color: #ffffff;
}

.navbar-dropdown .navbar-item.is-disabled {
    color: #888888;
    background-color: #1b1b1b;
    pointer-events: none;
}

.navbar-dropdown .navbar-item:last-child {
    border-bottom: none;
}