body {
    background-color: #121212;
    color: #ffffff;
}

.navbar, .footer {
    background-color: #1b1b1b;
}

.navbar-item, .navbar-link {
    color: #ffffff;
}

.box {
    background-color: #1f1f1f;
    color: #ffffff;
}

a.has-text-info {
    color: #4e8ed9;
}

a.navbar-item:hover {
    background-color: #333333;
}