.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a,
.pagination .current-page {
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    border: 1px solid #333333;
    color: #333333;
    background-color: #ffffff;
    border-radius: 5px;
}

.pagination .current-page {
    background-color: #333333;
    color: #ffffff;
}

.pagination a:hover {
    background-color: #333333;
    color: #ffffff;
}

.followers-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.follower {
    border: 1px solid #333;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.follower span {
    color: #333333;
    font-weight: bold;
}

.follow-time {
    color: #777777;
    font-size: 12px;
}

.subscribers-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.subscriber {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.subscriber-broadcaster {
    background-color: #ffcc00;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.subscriber span {
    display: block;
    text-align: center;
}

.subscriber-broadcaster span {
    display: block;
    text-align: center;
}

.moderator-time {
    font-size: 12px;
    color: #888;
}

.moderator-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.moderator {
    border: 1px solid #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.moderator span {
    display: block;
    text-align: center;
}

.moderator-time {
    font-size: 12px;
    color: #888;
}

.vip {
    border: 1px solid #333;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.vip span {
    color: #333333;
    font-weight: bold;
}

.vip-time {
    font-size: 12px;
    color: #888;
}

.vip-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}