@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.8), 0 0 30px 20px rgba(255, 0, 0, 0.6);
    }
    50% {
        box-shadow: 0 0 30px 15px rgba(255, 0, 0, 1), 0 0 40px 30px rgba(255, 0, 0, 0.8);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.8), 0 0 30px 20px rgba(255, 0, 0, 0.6);
    }
}

#deathOverlay {
    position: fixed;
    bottom: 50px;
    left: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    padding: 20px;
    font-size: 24px;
    border-radius: 10px;
    display: none;
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.8);
    animation: glow 2s infinite alternate;
}

#deathOverlay.show {
    display: block;
    animation: slideIn 1s forwards, glow 2s infinite alternate;
}

#deathOverlay.hide {
    animation: slideOut 1s forwards, glow 2s infinite alternate;
    display: block;
}

.overlay-title {
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    position: relative;
}

.overlay-content div {
    margin: 5px 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 1.2;
}

.overlay-emote {
    width: 40px;
    height: 40px;
    background-image: url('https://cdn.botofthespecter.com/emotes/RIP.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.weather-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.weather-overlay .overlay-content {
    font-size: 14px;
}

.weather-overlay .overlay-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.weather-overlay .time {
    font-size: 14px;
    color: #FFFFFF;
}

.weather-overlay .temperature {
    font-size: 22px;
    margin-top: 5px;
}

.weather-overlay .condition {
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 5px;
}

.weather-overlay .wind, .weather-overlay .humidity {
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 5px;
}

.weather-overlay .weather-details {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.weather-overlay .weather-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.weather-overlay.hide {
    display: none;
    animation: slideOut 1s forwards, infinite alternate;
}

.weather-overlay.show {
    display: block;
    animation: slideIn 1s forwards, infinite alternate;
}