RewriteEngine On

# Check if the request is not pointing to a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite URL to index.php and pass the username as a query parameter
RewriteRule ^([^/]+)/?$ index.php?user=$1 [L]