html, body {
    height: 100%;
    background-color: #101010;
    color: #ffffff;
}

body {
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 1rem;
}

.hero.is-primary {
    background-color: #333333;
    color: #ffffff;
    justify-content: center;
    display: flex;
    align-items: left;
	height: 90px;
}

.hero-body .title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.button {
    background-color: #444444;
    border-color: #444444;
    color: #ffffff;
}

.button:hover {
    background-color: #555555;
    border-color: #555555;
    color: #ffffff;
}

.modal-content {
    background-color: #222222;
    color: #ffffff;
}

.box {
    background-color: #222222;
    color: #ffffff;
    border-radius: 10px;
    width: auto;
}